xml_doc/elemento_tipo_complejo.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="persona">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nombre" type="xsd:string"/> 
        <xsd:element name="apellidos" type="xsd:string"/> 
        <xsd:element name="edad" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Pedro" type="persona"/>
</xsd:schema>
